html {
    height: 100%;
    /*background: #212121;*/
    background: #fff;
}

body {
  display: flex;
  flex-direction: column;

  min-width: 100%;
  min-height: 110vh;
}

main {
    padding-top: 64px;
     top: 0;
     left: 0;

     width: 100%;
     height: inherit;
     margin: 0 auto;

     flex: 1 0 auto;
}

#blah {
  margin-top: 0;
}

nav {
  z-index: 3;
  position: fixed;
  background: transparent;
  box-shadow: none;
}

.nav-wrapper {
  background: rgba(33, 33, 33, 1);
}

nav .brand-logo {
   padding-left: 10px;

   color: #fbc02d;

   font-size: 1.4rem;
}

/*.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}*/

nav ul a {
  color: #212121;
}



.footer-container {
  padding-bottom: 5px;

  text-align: center;
  vertical-align: middle;
}


.display-card {
  width: inherit;
  padding-right: 15px;
  padding-left: 15px;

  text-align: center;

  border-radius: 5px;
  background: white;
}

#masthead {
  opacity: 0.65;
  color: white;
  z-index: 5;
  font-size: 30vh;
}

nav .brand-logo {
  font-size: 1.1rem;
}

@media (min-width: 500px) {
  nav .brand-logo {
    font-size: 1.4rem;
  }
}

#contact-container {
  padding: 20px;
}

.section {
  border-radius: 5px;
}

.container {
  padding: 15px;
}

footer .container {
  padding: 0;
}

#index-main {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#try {
  font-size: 3vh;
}
